<header class="page-header">
  <h1>Paperwork</h1>
</header>

<label for="assists">
  {{t 'paperwork.assists.question'}}
</label>
<input id="assists" multiple name="assists" type="tags">

<label for="firstLimpet">
  {{t 'paperwork.firstLimpet.question'}}
</label>
<input id="firstLimpet" name="firstLimpet" type="tags">

<label for="system">
  {{t 'paperwork.system.question'}}
  <small>
    {{t 'paperwork.system.subtext'}}
  </small>
</label>
<input id="system" name="system" type="tags">

<label>
  {{t 'paperwork.platform.question'}}
</label>
<input checked id="platform-pc" name="platform" type="radio" value="pc"> <label for="platform-pc">{{t 'common.pc'}}</label>
<input id="platform-xb" name="platform" type="radio" value="xb"> <label for="platform-xb">{{t 'common.xbox'}}</label>

<label>
  {{t 'paperwork.successful.question'}}
</label>
<input checked id="successful-yes" name="successful" type="radio" value="yes"> <label for="successful-yes">{{t 'common.yes'}}</label>
<input id="successful-no" name="successful" type="radio" value="no"> <label for="successful-no">{{t 'common.no'}}</label>

<label>
  {{t 'paperwork.codeRed.question'}}
</label>
<input checked id="codeRed-yes" name="codeRed" type="radio" value="yes"> <label for="codeRed-yes">{{t 'common.yes'}}</label>
<input id="codeRed-no" name="codeRed" type="radio" value="no"> <label for="codeRed-no">{{t 'common.no'}}</label>

<label for="notes">
  {{t 'paperwork.notes.question'}}
</label>
<textarea id="notes" name="notes"></textarea>

<menu type="toolbar">
  <div class="primary">
    <button type="submit">
      {{t 'common.submit'}}
    </button>
  </div>
  <div class="secondary"></div>
</menu>
