<header class="page-header">
  <h1>{{t 'pages.profile'}}</h1>
</header>

<div class="page-content">
  <div class="row">
    <section class="panel">
      <table class="full-width padded stats">
        <colgroup>
          <col>

          <col>

          <col>

          <col>
        </colgroup>

        <thead>
          <tr>
            <td>Rescues</td>

            <td>Assists</td>

            <td>Failures</td>

            <td>Success Rate</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="rescues-count">{{firstLimpetCount}}</td>

            <td class="assists-count">{{assistCount}}</td>

            <td class="failures-count">{{failureCount}}</td>

            <td class="success-rate">{{successRate}}%</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div class="row">
    <div class="panel">
      <header>Rats</header>

      <ul class="panel-content loading rats">{{#each rats.models}}
        <li>
          <a href="#{{attributes.id}}">{{attributes.CMDRname}}</a>
        </li>
      {{/each}}</ul>
    </div>

    <div class="panel">
      <header>IRC Nicknames</header>

      <ul class="panel-content loading">{{#if nicknames.length}}
        {{#each nicknames}}
          {{this}}
        {{/each}}
      {{else}}
        No nicknames
      {{/if}}</ul>
    </div>
  </div>

  <h2>Rescues</h2>

  <div class="row">
    <ul class="inline">
      <li>
        {{#each rats.models}}
          <button data-rat-id="{{attributes.id}}">{{attributes.CMDRname}}</button>
        {{/each}}
      </li>
    </ul>
  </div>

  <div class="rescues"></div>
</div>
