<header class="page-header">
  <h1>{{t 'pages.profile'}}</h1>
</header>

<div class="page-content">
  <div class="row">
    <section class="panel">
      <table class="full-width padded stats">
        <colgroup>
          <col>

          <col>

          <col>

          <col>
        </colgroup>

        <thead>
          <tr>
            <td>Rescues</td>

            <td>Assists</td>

            <td>Failures</td>

            <td>Success Rate</td>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="rescues-count">{{firstLimpetCount}}</td>

            <td class="assists-count">{{assistCount}}</td>

            <td class="failures-count">{{failureCount}}</td>

            <td class="success-rate">{{successRate}}%</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div class="row">
    <div class="panel">
      <header>Rats</header>

      <ul class="panel-content loading rats">{{#if rats.models.length}}
        {{#each rats.models}}
          <li>
            <a href="#{{attributes.id}}">{{attributes.CMDRname}}</a>
          </li>
        {{/each}}
      {{else}}
        <li>No rats</li>
      {{/if}}</ul>
    </div>

    <div class="panel">
      <header>IRC Nicknames</header>

      <div class="panel-content">
        <div class="row">
          <ul class="loading">{{#if nicknames.length}}
            {{#each nicknames}}
              <li>
                <button class="tiny" data-action="remove-nickname" data-nickname="{{this}}">
                  <i class="fa fa-fw fa-times"></i>
                </button>

                {{this}}
              </li>
            {{/each}}
          {{else}}
            <li>No nicknames</li>
          {{/if}}</ul>
        </div>

        <form class="row">
          <input class="stretch-9" name="add-nickname" placeholder="Add a nickname...">
          <button data-action="add-nickname" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Rescues</h2>
  </div>

  <div class="row" data-hidden>
    <ul class="inline">
      <li>
        {{#each rats.models}}
          <button data-rat-id="{{attributes.id}}">{{attributes.CMDRname}}</button>
        {{/each}}
      </li>
    </ul>
  </div>

  <div class="rescues"></div>
</div>
