<article class="tweet">
  <header>
    <img title="@{{user.screen_name}}: {{user.description}}" src="{{user.avatar}}">
  </header>

  <!--<a href="http://twitter.com/{{user.screen_name}}" title="{{user.description}}">@{{user.screen_name}}</a>: {{{renderedText}}}-->
  <div>
    <p>{{{renderedText}}}</p>

    {{#if media.length}}
      <ol class="media-list">{{#each media}}
        <li>
          {{#if isPhoto}}
            <a
               class="media {{sizes.thumb.resize}}"
               href="{{media_url}}"
               style="
                      background-image: url({{media_url}});
                      height: {{sizes.thumb.h}}px;
                      width: {{sizes.thumb.w}}px;
                      ">
            </a>
          {{/if}}
        </li>
      {{/each}}</ol>
    {{/if}}

    <footer>
      <nav>
        <small>
          <ul>
            <li><time>{{date}}</time></li>
            <li><a href="http://twitter.com/{{user.screen_name}}/status/{{id}}">Permalink</a></li>
          </ul>
        </small>
      </nav>
    </footer>
  </div>
</article>
