<td><img src="//api.adorable.io/avatars/64/{{email}}"></td>

<td>{{email}}</td>

<td>
  {{#if drilled}}
    <i class="fa fa-check"></i>
  {{/if}}
</td>

<td>
  {{#if dispatchDrilled}}
    <i class="fa fa-check"></i>
  {{/if}}
</td>

<td>
  {{#if rats.length}}
    <ul class="comma-separated rats"></ul>
  {{else}}
    This user has no rats associated with their account
  {{/if}}
</td>

<td>
  {{#if nicknames}}
    <ul class="comma-separated nicknames">
      {{#each nicknames}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{else}}
    This user has no nicknames associated with their account
  {{/if}}
</td>
