<td>
  <img src="https://api.adorable.io/avatars/64/{{email}}">
</td>

<td>
  {{email}}
</td>

<td>
  {{#if CMDRs.length}}
    <ul class="CMDRs comma-separated inline"></ul>
  {{else}}
    <p>This user has no CMDRs associated with their account</p>
  {{/if}}
</td>

<td>
  {{#if nicknames}}
    <ul class="comma-separated inline nicknames">
      {{#each nicknames}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>This user has no nicknames associated with their account</p>
  {{/if}}
</td>
